.ervaring_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    /* background-color: yellowgreen; */
}

.ervaring {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap:64px;
    margin-top: 72px;

    /* background-color: aqua; */
}

#test {
    width: 50px;
}